@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

:root {
  --color1: #d4f0fc;
  --color2: #89d6fb;
  --color3: #02a9f7;
  --color4: #02577a;
  --color5: #01303f;
  --gradiant1: linear-gradient(
    36deg,
    rgba(2, 169, 247, 1) 0%,
    rgba(1, 48, 63, 1) 100%
  );
  --black-text: #444444;
  --black-heading: #222222;
  --text-white-heading: rgb(255, 255, 255);
  --text-white-text: rgba(255, 255, 255, 0.8);
}

.navigationBar.Landing {
  background-color: var(--color4) !important;
  color: #fff;
}

.sectionHeading {
  font-weight: 600;
  color: var(--black-heading);
}
.sectionHeading span {
  color: var(--color3);
}
.sectionDescription {
  font-size: 16px !important;
  color: var(--black-text);
  font-weight: 500;
}
.textHeading {
  font-size: 20px;
  font-weight: 500 !important;
  color: var(--black-heading);
}
.textDescription {
  color: var(--black-text);
  font-size: 16px;
  font-weight: 500 !important;
}
.textC3 {
  color: var(--color3);
}
.btn-primary {
  background-color: var(--color3);
  border: none;
}
.btn-primary:hover {
  background-color: #0787c2;
}

/* Landing Page */
.navigationBar {
  background-color: var(--color1) !important;
  height: 5rem;
}
.HeroSection {
  background: var(--gradiant1);
  /* min-height: 90vh; */
}
.sliderSlide {
  gap: 10;
  text-align: left;
  min-height: 700px;
  margin-bottom: 2rem;
}

.leftText {
  color: var(--text-white);
  text-align: left !important;
}
.leftText .h5 {
  color: var(--text-white-text);
}
.sliderImg {
  max-width: 100%;
  width: 500px;
}
.imageBox {
}
.swiper-pagination span {
  scale: 1.5;
  margin: 0 1rem !important;
  border: #fff 5px solid;
}
.swiper-pagination-bullet-active {
  scale: 2.5 !important;
  background-color: #d4f0fc;
}
/* Our Services */

.ourServiceSection {
  min-height: 50vh;
  margin-top: 2rem auto;
  /* background-color: #d4f0fc; */
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.description {
  width: 50%;
  margin: auto;
}
.serviceBoxGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  transition: 1s ease-in-out;
}

.service-image {
  height: auto;
  /* background-color: #007bff; */
  /* max-width: 50px; */
  width: 150px;
  height: 150px;
}

.service-image img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.viewAllBtn {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.viewAllBtn:hover {
  background-color: #0056b3;
}
.serviceBox {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  position: relative;
  align-self: baseline;
  text-align: left;
}

.service-image {
  width: 100%;
  text-align: center;
  scale: 80%;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: max-height 0.3s ease;
  width: 100%;
  text-align: center;
}

.expanded {
  -webkit-line-clamp: unset;
}

.show-more-btn {
  background: transparent;
  color: #00aaff;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

.show-more-btn:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .ourServiceSection {
    padding: 1rem;
  }
  .swiper-slide {
    width: 100% !important;
  }
  .serviceDescription {
    text-align: left !important;
    width: 100%;
    padding: 0;
  }
  .serviceBoxGrid {
    display: flex;
    flex-direction: column;
  }

  .ourServiceSection h3 {
    font-size: 1.6rem;
  }

  .ourServiceSection p {
    font-size: 0.95rem;
  }

  .serviceBoxGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .serviceBox {
    padding: 1rem;
  }

  .view-all-btn {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }
}

/* About Us Section */
.AboutUsSecction {
  background: var(--gradiant1);
  min-height: 70vh;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
.aboutUsSectionBox {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.aboutUsSection {
  display: flex;
  justify-content: center;
  align-items: center; /* Ensure both sections align properly */
  /* gap: 5rem; */
  flex-wrap: wrap; /* Responsive: stacks on smaller screens */
}

.aboutUsSection div {
  max-width: 500px;
}

.aboutUsSection .rightSection {
  align-self: flex-start; /* Ensures it aligns at the top */
  margin-top: 2rem;
  text-align: left;
  color: #fff;
}
/* Why Us Section */
.whyUsSection {
  min-height: 100vh;
}
.aboutUsImgBox {
  width: 120px;
  height: 120px;
  /* padding: 1rem; */
  border-radius: 5rem;
  /* background-color: #7394b8; */
  border: 5px solid var(--color4);
}
.aboutUsImgBox img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: contain;
}
.aboutUsImgBoxData p {
  max-width: 900px;
  margin: 1rem auto;
}

/* Team Section */
.teamSection {
  display: flex;
  flex-direction: column;
}
.slide-card {
  background-color: var(--color4);
  border-radius: 0.8rem;
  border: 1px solid var(--color1);
  width: 100%;
  max-width: 500px !important;
  height: 350px;
  margin: auto;
}
.teamSectionContent {
  height: fit-content;
}

.teamSection {
  min-height: 35rem;
  background: var(--gradiant1);
}
.teamimg-box {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
.teamimg-box img {
  border-radius: 4rem;
  width: 100%;
  height: 100%;
  border: 3px solid var(--color1);
}
.teamSocialLinks {
  color: var(--text-white);
  transition: color 0.3s ease-in-out;
  scale: 1.5;
  transition: 0.3s ease-in-out;
}
.LandingTeamDescriptionBox {
  height: 70px;
  overflow-y: auto;
}

.teamSocialLinks:hover {
  color: var(--black-heading);
  scale: 1.7;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
}
/* ////////////////////////////////////////////// */
/* Testmonial Section */
.TestmonialSection {
  min-height: 450px;
  padding: 2rem 0;
}

.swiper-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* Custom Navigation Buttons */
.swiper-nav {
  display: flex;
  justify-content: center;
  gap: 1px;
  margin-top: 20px;
}

.swiper-button {
  border: none;
  padding: 15px 30px;
  transition: 0.5s ease-in-out;
}

.swiper-button:hover {
  /* background: var(--gradiant1); */
  background-color: #d9d9d9;
  color: black;
  scale: 1.025;
}
.swiper-button:active {
  background-color: var(--color1);
  scale: 1.025 !important;
}
/* Responsive */
@media (max-width: 768px) {
  .swiper-button {
    font-size: 1.2rem;
    padding: 8px 16px;
  }
}
/* Testmonial MY Css */

.client-card {
  position: relative;
  padding: 0.5rem;
  height: 100%;
}
.client-detail-box {
  height: 250px !important;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0rem 0rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem 0 1rem 0;
  margin-top: 4rem;
}
.client-img-box {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 5%;
  top: 5%;
}

.client-img-box img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  border: black solid 1px;
  background-color: #fff;
  border-radius: 5rem;
}
.testmoniaProjectName {
  position: relative;
}
.quote-icon {
  position: absolute;
  right: 10%;
  scale: 3;
  opacity: 15%;
}
/* Footer */
.footerSection {
  min-height: 350px;
  background: var(--gradiant1);
}
.footerSectionLinks {
  text-align: left;
  padding-left: 20px;
}
.footerPageList {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  gap: 5px;
  flex-direction: column;
  text-align: left;
}
.footerContactSection {
  text-align: left;
  padding: 0 10px;
}
.footerContactText {
}
.footerInput {
  width: 100%;
  border: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.footerInput:nth-child(2) {
  color: #8498a2;
}
.footerSendBtn {
  margin-top: 10px;
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--color3);
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.footerSendBtn:hover {
  background-color: #0787c2;
}
.footerLogoImg {
  width: 130px;
  height: 130px;
}
.footerLogo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footerName {
  text-align: left;
}
.teamSocialLinksFooter {
  color: #fff;
  transition: 0.3s ease-in-out;
}
.teamSocialLinksFooter:hover {
  scale: 1.2 !important;
  color: black;
}
.social_box {
  margin-left: 0 !important;
}
