:root {
  -primary-color-1: #0199e4;
  -primary-color-2: #002448;
  -text-d1: #000;
  -text-d1-8: rgb(0, 0, 0, 0.8);
  -text-d2: #121212;
  -text-p1: #fff;
  -text-p1-8: rgb(255, 255, 255, 0.8);
  -text-p2: #c5c5c5;
}
